/* Home.js */

.home{
  height: 1000px;
  border: 1px solid black;
  background: linear-gradient(-20deg, rgba(249, 248, 245, 0.2) 50%, rgba(242, 153, 74, 0.2)50%);
  text-align: center;
  font-family: 'Product Sans', sans-serif;
}

h3{
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #4E598C;
}

form{
  display: inline-block;
  margin-top: 25px;
}

label{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

label > p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #817E9E;
}

input, select{
  width: 500px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #4E598C;
  border-radius: 10px;
  margin-top: 10px;
}

input::placeholder{
  padding: 10px;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #4F4F4F;
}

.row{
  display: flex;
  flex-direction: row;
}

.row input{
  width: 250px;
}

.row select{
  width: 200px;
}

.row >.state{
  margin-left: 50px;
}

button{
  margin-top: 60px;
}

.buttons{
  text-align: left;
}

button.submit{
  background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
  border-radius: 10px;
  width: 150px;
  height: 40px;
  border: 1px solid #F2994A;
  color: #FFFFFF;
}

button.reset{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #4E598C;
  margin-left: 40px;
  background: #ffffff;
  border: 0;
}


/* Navbar.js */

a{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 34px;
  color: #BDBDBD;
  padding: 45px;
  text-decoration: none;
}

a:active{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 34px;
  color: #F2994A;
  text-decoration: underline;
  text-decoration-color: #F2994A;
}

hr{
  width: 500px;
  color: #000000;
}


/* Billing.js */
label.date{
  margin-left: 30px;
}

input[type=date]{
  width: 100px;
}

label.cvv{
  margin-left: 30px;
}

input.card-cvv{
  width: 70px;
}

/* confirm.js */
.card{
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 10px 15px rgba(33, 30, 67, 0.08);
  border-radius: 10px;
  width: 500px;
  height: 370px;
  margin: auto;
  padding: auto;
}

.card-header{
  background: #2F80ED;
  border-radius: 16px 10px 0px 0px;
  display: flex;
  justify-content: center;
}

.card-header p{
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.card-header .p1{
  margin-right: 250px;
}

.body{
  display: flex;
  margin-left: 30px;
}

.body p{
  margin: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4E598C;
}

.body .price{
  margin-left: 50px;
}

.body .price2{
  margin-left: 230px;
  text-align: right;
}

.total{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #817E9E;
  display: flex;
  border: 1px solid #817E9E;
  border-radius: 5px;
  margin: 40px;
  height: 70px;
}

.total p{
  text-align: left;
  margin-left: 50px;
}

.total .price{
  text-align: right;
  margin-left: 240px;
}

.card-body hr{
  width: 400px;
}
/* Success.js */
.success-card{
  margin-top: 200px;
}

h2{
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 67px;
  color: #4E598C;
}

p.info{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4F4F4F;
}


a.link{
  color: #FFFFFF; 
}

a.back{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #F2994A;
}